* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gbold;
}

nav div.main-navigation {
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
    height: 80px;
    min-height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.129);
    z-index: 999;
    top: 0;
}

header {
    margin-top: 80px;
    background-color: #FCC28D;
    min-height: 460px;
    position: relative;
}

header div.container {
    display: flex;
    flex-direction: row;
    padding: 74px 64px;
}

header div.site-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

header div.site-heading h1 {
    color: #345263;
    font-size: 75px;
    line-height: 50px;
    font-weight: bolder;
}

header div.site-heading h1 span {
    font-size: 45px;
    line-height: 50px;
}

header div.site-heading h2 {
    color: #ffffff;
    font-size: 45px;
    line-height: 55px;
    font-weight: bolder;
}

header div.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}

header div.contact img{
    width: 220px; 
    height:25px; 
}
header div.contact button.whats {
    border: 0;
    background-color: #F27881;
    width: 280px;
    border-radius: 30px;
    padding: 20px;
    color: #ffffff;
    font-family: gbold;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

header div.image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

header div.image .clinica {
    position: absolute;
    width: 440px;
    height: 480px;
    border-radius: 40px 40px 40px 40px;
    background-image: url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .bg {
    box-shadow: 160px -150px 0px -110px #345263;
    width: 440px;
    height: 440px;
    border-radius: 140px;
    position: absolute;
}

/* -------------------------------------------------------- */

section.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px;
    background-color: #FFFFFF;
    width: 100%;
}

section.about-us .about-image {
    width: 500px;
    height: 600px;
    border-radius: 40px;
    background-image: url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 50px;
}

section.about-us .apresentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 150px;
    width: 55%;
}

section.about-us .apresentation p {
    text-align: justify;
    font-weight: bold;
    font-size: 24px;
    color: #9FA9AB;
}

section.about-us .apresentation h3 {
    color: #20AABD;
    font-size: 38px;
    font-weight: bolder;
}

/* -------------------------------------------------------- */

section.specialized {
    padding: 10px 64px;
    display: flex;
    flex-direction: column;
}

section.specialized div.title-specialized span {
    color: #20AABD;
    font-family: glight;
}

section.specialized div.title-specialized h3 {
    color: #20AABD;
    font-size: 42px;
    font-weight: bolder;
}

section.specialized div.boxes-specialized {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

section.specialized div.boxes-specialized div.box {
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

section.specialized div.boxes-specialized>* {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

section.specialized div.boxes-specialized>*:hover {
    transition: 0.1s ease-in;
    transform: scale(1.1);
}

section.specialized div.boxes-specialized div:nth-child(-n+3) {
    margin-right: 25px;
}

section.specialized div.boxes-specialized div:nth-child(1) {
    background-image: url("../assets/icons/icones-1.png");
}

section.specialized div.boxes-specialized div:nth-child(2) {
    background-image: url("../assets/icons/icones-2.png");
}

section.specialized div.boxes-specialized div:nth-child(3) {
    background-image: url("../assets/icons/icones-3.png");
}

section.specialized div.boxes-specialized div:nth-child(4) {
    background-image: url("../assets/icons/icones.png");
}

/* -------------------------------------------------------- */

main.main-section {
    margin-top: 50px;
    background-color: #22ACBF;
    min-height: 550px;
    min-width: 100%;
    padding: 64px;
}

div.search-clinics h3 {
    color: #003b5d;
    font-size: 45px;
}

div.search-clinics h3 span {
    color: #FFFFFF;
    font-size: 55px;
}

div.places {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.places button.place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 20px;
    border-radius: 100px;
    min-height: 50px;
    width: 250px;
    max-width: auto;
    padding: 0 35px;
    background-color: #FFFFFF;
    color: #22ACBF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

div.places button.place:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}

/* -------------------------------------------------------- */

section.clinics-list {
    background-color: #FFFFFF;
    padding: 64px;
    min-height: 50vh;
    min-width: 100%;
}

div.list {
    margin-top: -250px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.list a{
    text-decoration: none;
}
div.list div.clinics {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: solid 10px white;
    border-radius: 10px;
    width: 280px;
    height: 280px;
    margin-top: 25px;
    margin-right: 25px;
    background-color: antiquewhite;
    cursor: pointer;
}

div.list div.clinics:hover {
    transform: scale(0.9);
    transition: 0.2s ease-out;
}

div.list div.clinics div.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.605);
    width: 100%;
    height: 20%;
    opacity: 0;
}

div.list div.clinics:hover > div.caption{
    opacity: 1;
    transition: 0.2s;
}

div.list div.clinics div.caption h3{
    color: #FFFFFF;
}

/* -------------------------------------------------------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3f45;
    min-width: 100%;
    min-height: 400px;
}

footer section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

footer section.contact h3 {
    text-align: center;
    color: #F4ac6a;
    font-size: 40px;
}

footer section.contact section {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

footer section.contact section div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 90px;
    border-radius: 100px;
    background-color: #4a4f55;
    margin-right: 25px;
    margin-top: 10px;
}

footer section.contact section div h3 {
    color: #FFFFFF;
    font-size: 35px;
    letter-spacing: 3px;
}

footer section.developer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 64px;
    background-color: #33383E;
    min-width: 100%;
    min-height: 75px;
}

footer section.developer h4 {
    color: #75818E;
    font-family: gbold;
    font-size: 18px;
}