

@media (max-width: 1000px) {
    nav div.main-navigation {
        justify-content: center;
        align-items: center;
    }
    div.main-navigation div.topnav {
        display: none;
    }
    header div.site-heading {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    header div.site-heading h1 {
        text-align: center;
        font-size: 60px;
    }
    header div.site-heading h1 span {
        font-size: 30px;
    }
    header div.contact {
        width: 100%;
    }
    header div.image {
        display: none;
    }
    section.about-us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.about-us div.about-image {
        display: none;
    }
    section.about-us .apresentation {
        width: 100%;
        margin: 0;
    }
    section.specialized div.title-specialized h3 {
        font-size: 35px;
    }
    section.about-us .apresentation p {
        font-size: 100%;
    }
    section.clinics-list div.list {
        margin-right: 0;
        margin-top: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.list div.clinics {
        margin: 0;
    }
    section.specialized div.boxes-specialized {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.specialized div.boxes-specialized div:nth-child(-n+4) {
        margin-right: 0;
        width: 300px;
        height: 300px;
    }
    section.specialized {
        width: 100%;
        height: auto;
    }
    footer section.contact h3 {
        font-size: 5vw;
    }
    footer section.contact section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
    }
    footer section.contact section div {
        width: 90%;
        margin: 10px 0;
    }
    footer section.contact section div h3 {
        font-size: 28px;
    }
    footer section.developer {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 465px) {
    nav div.main-navigation img.logo {
        width: 100%;
        height: auto;
    }
    header div.site-heading h1 {
        font-size: 16vw;
        line-height: auto;
    }
    header div.site-heading h1 span {
        font-size: 8vw;
    }
    header div.site-heading h2 {
        font-size: 14vw;
    }
    header div.contact img {
        width: 100%;
        height: auto;
    }
    header div.contact button.whats {
        width: 100%;
        font-size: 4vw;
    }
    section.specialized div.title-specialized h3 {
        font-size: 6vw;
    }
    div.search-clinics h3 {
        font-size: 6vw;
    }
    div.search-clinics h3 span {
        font-size: 7vw;
    }
}

@media (min-width: 1500px) {
    section.specialized div.boxes-specialized{
        justify-content: flex-start;
    }
    section.specialized div.boxes-specialized div{
        margin-right: 25px;
    }
    section.about-us .apresentation {
        width: 100%;
        justify-content: flex-start;
        margin-top: 80px;
    }
}