.topnav {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.topnav a {
    float: right;
    display: block;
    color: #20AABD;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.topnav a.active{
    background-color: #20AABD;
    color: white;
    border-radius: 40px;
    min-width: 180px;
    margin: 0px;
}

.topnav a:hover {
    color: #345263;
    transition: 0.3s;
}

.topnav a.active:hover {
    background-color: #345263;
    color: white;
    transition: 0.3s;
}